@font-face {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  src: url("../assets/franklin-gothic-cufonfonts-webfont/FranklinGothic.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navbar {
  background: #9c0100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}
.navbar-left {
  color: white;
  font-size: 2.8vmax;
  padding-left: 10vmin;
}
.navbar-right {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
a {
  color: white;
  font-size: 1.4vmax;
  font-weight: -100;
  text-decoration: none;
}
.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 3vmax;
  padding-right: 3vmax;
}
.survey {
  color: rgb(91, 90, 90);
  margin-bottom: 1vmax;
}
.bold {
  width: 55vw;
  font-size: 4.5vmax;
}
.insight {
  color: #9c0100;
  font-size: 4.5vmax;
}
.right {
  padding-top: 1vmax;
}
.right > img {
  height: 85vh;
}
.tryfree {
  margin-top: 1vmax;
  color: rgb(91, 90, 90);
}
#create-btn {
  margin-top: 2vmax;
  background-color: #9c0100;
  color: white;
  padding: 0.8vmax 1.5vmax;
  border: none;
  outline: none;
}
